.timer {
  height: 38px;
  line-height: 19px;
  box-shadow: inset 0 -5px 25px rgba(130, 131, 134, 0.76);
  border-right: 1px solid #333;
}

.timer {
  line-height: 38px;
  font-size: 10px;
  font-family: monospace;
  text-shadow: 1px 1px 0px black;
  color: white;
  flex: 5;
  position: relative;
}

.timer div {
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  left: 0;
  top: 0;
  width: 0;
  height: 38px;
  z-index: 2;
}

.timer span {
  position: absolute;
  z-index: 3;
  left: 1em;
}

.thin_border{
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 50px;
  
}
 
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

body { 
	font-family: sans-serif, serif;
}

i {
	font-family: FontAwesome;
	font-style: normal;
}

#videoLocal {
	margin-bottom: 15px;
	background-color: black;
}

video {
	max-width: 100%;
	height: auto;
}

.myvideo {
	background-color: black;
}